body {
    background-color: black;                 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px; /* Ajusta el padding según tus necesidades */
  }

  .navbar-brand img {
    max-height: 60px; /* Ajusta el tamaño máximo del logo */
  }

  